@using CyberSecurity.SharedCommon.Common
@using Newtonsoft.Json
@model CyberSecurity.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginMasterLayout.cshtml";
    var code = "";
    var msg = "";
    if (ViewData.ContainsKey("dbresponse"))
    {
        if (ViewData["dbresponse"] != null)
        {
            var str = (string)ViewData["dbresponse"];
            var dbresponse = JsonConvert.DeserializeObject<DbResponse>(str);
            if (dbresponse != null)
            {
                code = dbresponse.ErrorCode.ToString();
                msg = dbresponse.Message;
            }
        }
    }
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <p class="app-brand-link flex-column">
                        <span class="app-brand-logo demo">
                            <img src="~/image/logo/logo.jpg" alt="" />
                        </span>
                        <span class="app-brand-text demo text-body fw-bolder">Login</span>
                    </p>
                </div>
                <!-- /Logo -->
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "Login" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        @Html.LabelFor(x=>x.UserName, new{@class="form-label"})
                        @Html.TextBoxFor(x=>x.UserName,new{@class="form-control", @placeholder="Username", @required="required"})
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <div class="d-flex justify-content-between">
                            @Html.LabelFor(x=>x.Password, new{@class="form-label"})
                        </div>
                        <div class="input-group input-group-merge">
                            @Html.TextBoxFor(x=>x.Password,new{@type="password", @class="form-control", @placeholder="Password", @required="required"})
                            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            @Html.ValidationMessageFor(x=>x.Password)
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary d-grid w-100" type="submit" id="btnSubmit">Sign in</button>
                    </div>
                }

                <p class="text-center">
                    <span>New on our platform?</span>
                    <a href="/Login/SignUp">
                        <span>Create an account</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- /Register -->
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            if ("@code" != "" && "@msg" != "") {
                if ("@code" == "1") {
                    Swal.fire({
                        title: '@msg',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
                else {
                    Swal.fire({
                        title: '@msg',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                }
            }
            $("#btnSubmit").on("click", function () {
                if ($("#Login").valid()) {
                    $("#Login").submit();
                }
            });
        });
    </script>
}