@model CyberSecurity.Models.UserDetailModel
@using CyberSecurity.SharedCommon.Common
@using Newtonsoft.Json
@using CyberSecurity.Library
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var code = "";
    var msg = "";
    var dbresponse = StaticData.GetSessionMessage();
    if (dbresponse != null)
    {
        code = dbresponse.ErrorCode.ToString();
        msg = dbresponse.Message;
    }
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home/</span> Change Password</h4>
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Change Password</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "ChangePassword" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Username", @disabled = "disabled", @required = "required" })
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.FullName)
                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Full Name", @disabled = "disabled", @required = "required" })
                        @Html.ValidationMessageFor(x => x.FullName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.OldPassword)
                        @Html.TextBoxFor(x => x.OldPassword, new { @type = "password", @class = "form-control", @placeholder = "Old Password", @required = "required" })
                        @Html.ValidationMessageFor(x => x.OldPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control", @placeholder = "Password", @required = "required" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword)
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    </div>
                    <div class="form-group row col-md-12">
                        <button type="submit" class="btn btn-primary col-md-6" id="btnSubmit">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="login-wrap p-md-5">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-user-o"></span>
                </div>
                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @id = "ChangePassword" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserName)
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control rounded-left", @placeholder = "Username", @disabled = "disabled", @required = "required" })
                        @Html.ValidationMessageFor(x => x.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.FullName)
                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control rounded-left", @placeholder = "Full Name", @disabled = "disabled", @required = "required" })
                        @Html.ValidationMessageFor(x => x.FullName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.OldPassword)
                        @Html.TextBoxFor(x => x.OldPassword, new { @type = "password", @class = "form-control rounded-left", @placeholder = "Old Password", @required = "required" })
                        @Html.ValidationMessageFor(x => x.OldPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control rounded-left", @placeholder = "Password", @required = "required" })
                        @Html.ValidationMessageFor(x => x.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword)
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "password", @class = "form-control rounded-left", @placeholder = "Confirm Password", @required = "required" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                    </div>
                    <div class="form-group row col-md-12">
                        <button type="submit" class="btn btn-primary col-md-6" id="btnSubmit">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>*@
@section scripts{
    <script src="~/js/ChangePassword.js"></script>
    <script>
    $(document).ready(function () {
        if ("@code" != "" && "@msg" != "") {
            if ("@code" == "1") {
                Swal.fire({
                    title: '@msg',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            }
            else {
                Swal.fire({
                    title: '@msg',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            }
        }
    });
    </script>
}